body {
    font-family: 'Korinna BT';
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}
#container{
    margin : 20px auto;
    height: 450px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    background-color: #060CE9;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#start {
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:500px;
}

#qImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 200px;
    height : 200px;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}